html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

:root {
  // COLORS
  --color-primary: #1173F9;
  --color-content-primary: #0e1012;
  --color-content-secondary: #5e6474;

  --color-border-primary: #b3bbc6;
  
  --color-surface-background: #FFF;
  --color-surface-primary: #f2f4f8;
  --color-surface-secondary: #2d3346;
  --color-surface-highlight: rgba(45,51,70,.04);

  // FONT
  --font-family-primary: Arial, Helvetica, sans-serif;
  --font-size-xs: 8px;
  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 40px;
  --font-size-display: 64px;

  // SPACING
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 40px;
}

* {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  line-height: 1;
  color: var(--color-content-primary);
  font-family: var(--font-family-primary);
  background-color: var(--color-surface-primary);
}

.login {
  &-screen {
    width: 80%;
    max-width: 420px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-form {
    width: 100%;
    padding: var(--spacing-xl) var(--spacing-lg);
    margin: var(--spacing-lg) 0;
    border-radius: var(--spacing-xs);
    background-color: var(--color-surface-background);
    box-shadow: 0px 30px 66px rgba(0, 0, 0, 0.06);

    &__title {
      text-align: center;
      font-size: var(--font-size-xl);
      font-weight: bold;
      margin-bottom: var(--spacing-lg);
    }
    
    &__label {
      display: block;
      width: 100%;
      margin: 0 0 var(--spacing-sm);
      color: var(--color-content-secondary);
      font-size: var(--font-size-md);
      font-weight: bold;
    }
    
    &__input {
      display: block;
      width: 100%;
      height: 48px;
      border-radius: var(--spacing-xs);
      margin-bottom: var(--spacing-lg);
      font-size: var(--font-size-md);
      color: var(--color-content-secondary);
      padding: 0 var(--spacing-md);
      border: 1px solid var(--color-border-primary);
      transition: border 300ms ease-in-out;

      &:focus {
        outline: none;
        border: 1px solid var(--color-primary);
      }
    }

    &__button {
      display: block;
      width:100%;
      height: 48px;
      min-width: 150px;
      border-radius: var(--spacing-xs);
      border: 0;
      background: var(--color-primary);
      font-size: var(--font-size-md);
      color: var(--color-surface-background);
      cursor: pointer;
      transition: opacity 300ms ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 1024px) {
  .login {
    &-screen {
      width: 100%;
      padding: var(--spacing-lg) 0;
      height: auto;
      flex-direction: column;
    }

    &-kv {
      width: 100%;
      text-align: center;
      align-items: center;
      padding: var(--spacing-lg);

      &__title {
        font-size: var(--font-size-xl);
        
        span {
          font-size: var(--font-size-xxl);
        }
      }
    }

    &-form {
      width: 90%;
    }
  }
}

@media (max-width: 420px) {
  .login {
    &-form {
      padding: var(--spacing-lg) var(--spacing-md);
    }
  }
}