// Colors
$color-primary: #1c2a3f;
$color-alternate: #fcc239;
$color-dark: #222329;
$color-mid: #4e4f54;
$color-gray: #65656a;
$color-silver: #f1f1f1;
$color-light: #FFF;
$color-text: #30323c;

// Fonts
$font-primary: 'Poppins', sans-serif;
$font-regular: 400;
$font-bold: 600;